@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue-color);

    --white-color: #fdfdff;
    --blue-color: #0f2661;
    --gray-color: #737583;
    --brown-color: #b9a292;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    flex-direction: row;
    margin: 0 40px 10px 10px;
    border-bottom: 1px solid var(--blue-color);
}

.header__title {
    font-weight: 500;
    font-size: 24px;
}

.header__creator {
    padding: 10px;
    background-color: var(--brown-color);
    border-radius: 8px;
}
